@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.tektur{
  font-family: 'Tektur', cursive;
}

.navbar{
  font-family: 'Cutive Mono', monospace;
}
.cutive{
  font-family: 'Cutive Mono', monospace;
}

.h-remaining{
  height: calc(100vh - 72px);
}

.hover-effect{
  @apply hover:scale-[1.07] hover:cursor-pointer transition-all duration-200;
}

.gradient{

    background-image: linear-gradient(to right , #414244 0%, #9a5cc4 65%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;



}

